# snippets for priority-tests.

snippet aaaa
	snipmate
#
priority 2000
snippet bbbb
	1
priority 2001
snippet bbbb
	2
# this might be triggered when default-priority is increased.
snippet bbbb
	3
priority 1999
snippet bbbb
	4
